
{% extends "_layouts/cp" %}

{% do view.registerAssetBundle("roberskine\\usermanual\\assetbundles\\usermanual\\UserManualAsset") %}

{% set sectionSelected = (craft.userManual.settings.section is defined)
  ? craft.userManual.settings.section
  : "Homepage" %}

{% macro level(page) %}
  {% if page.level is defined and page.level > 1 %}
    {% for i in 2..page.level %}
      &ndash;  
    {% endfor %}
  {% endif %}
{% endmacro %}

{% set title = craft.userManual.name|t %}

{% if craft.userManual.settings.enabledSideBar %}
  {% set sidebar %}
    <nav id="user-manual-menu">
      {% set help = craft.entries.sectionId(sectionSelected).all() %}
      <ul>
        {% nav page in help %}
          {% set active = page.slug == craft.app.request.segments|last or loop.first and craft.app.request.segments|last == 'usermanual' %}
          <li id="{{ page.id }}">
            <a {% if active %}class="sel"{% endif %}
              href="{{ url('usermanual/' ~ page.uri) }}#{{ page.id }}">
              {{_self.level(page)}}{{page.title}}
            </a>
            {% ifchildren %}
                <ul>
                    {% children %}
                </ul>
            {% endifchildren %}
            </li>
        {% endnav %}
      </ul>
    </nav>
  {% endset %}
{% endif %}

{% set content %}
  <div id="user-manual">
    {{ getHelpDocument(sectionSelected)|raw }}
  </div>
{% endset %}
