{% extends "_layouts/cp" %}
{% set title = craft.userManual.name|t %}

{% if craft.userManual.settings.section is defined %}

  {% set sectionSelected = craft.userManual.settings.section %}

  {% if sectionSelected %}
    {# Does the sectionSelected have any enabled entries #}
    {% set hasEntries = craft.entries.sectionId(sectionSelected).all() %}
  {% endif %}

  {% do view.registerAssetBundle("roberskine\\usermanual\\assetbundles\\usermanual\\UserManualAsset") %}

{% endif %}

{% if craft.userManual.settings.enabledSideBar and sectionSelected and hasEntries %}
  {% set sidebar %}
    <nav id="user-manual-menu">
      {% set help = craft.entries.sectionId(sectionSelected).all() %}
      <ul class="craft-{{ craftMajorVersion() }}">
        {% nav page in help %}
          {% set active = page.id == craft.app.request.segments|last or loop.first and craft.app.request.segments|last == craft.userManual.settings.urlSegment %}
          <li id="{{ page.id }}">
            <a {% if active %}class="sel"{% endif %}
              href="{{ url(craft.userManual.settings.urlSegment ~ '/' ~ page.id) }}">
              {{page.title}}
            </a>
            {% ifchildren %}
                <ul>
                    {% children %}
                </ul>
            {% endifchildren %}
            </li>
        {% endnav %}
      </ul>
    </nav>
  {% endset %}
{% endif %}

{% set content %}
  <div id="user-manual">
    {{ getHelpDocument(sectionSelected)|raw }}
  </div>
{% endset %}
